@(menus: String , profileData: String )
@headerIn()


<script>
    $(document).ready(function () {
        //alert(" hi " + new ToolBar().render());
        var profileData = @Html(profileData);
        var menus = @Html(menus);
        var profilePhotos = profileData.photos;
        var profileVideos = profileData.videos;
        var systemUser = profileData.systemUser;
        var $personalDataContainer = $('#personal-date');
        var $menusContainer = $('#menus');
        console.log( systemUser );
        $('#tool-bar').html(new ToolBar(toolBarObjects.editProfileToolBar).render());
        $('#menus-list-btn').addClass( 'btn-success' );
        $("#pImage").attr({'src':encodeURI( systemUser.profileImageUrl), 'data-id': systemUser.profileImageId, title: "Profile Photo"});
        $("#profilePersonalInfo").html(new ProfilePersonalInfo( systemUser ).html );
        var addMenuButton = $('<div id="add-menu-btn" class="btn btn-important "> Add a Menu</div>');



        if ( menus.length > 0){
            $.each( menus, function( i, e){
                    //alert( userMenus );
                    $menusContainer.append( new MenuAsIcon( e).render() );
             });
        }

        $( document ).on('click', '#add-menu-btn', function(){
            $('#create-menu-form').remove();
            var $this = $(this);
            $this.after( new CreateMenuForm().renderHtml() );
        });


//        $("#menus-list-btn").on("click", function(){
//            var addMenuButton = $('<div id="add-menu-btn" class="btn btn-important "> Add a Menu</div>');
//            var uri = "usermenus";
//            apiCallGet( uri, "", function( d ){
//                  console.log( "---------> " + d );
//                var userMenus = d;
//                $personalDataContainer.slideUp();
//                $menusContainer.slideDown();
//                $menusContainer.html( "");
//                $menusContainer.append(  addMenuButton );
//                $.each( userMenus, function( i, e){
//                    //alert( userMenus );
//                    $menusContainer.append( new MenuAsIcon( e).render() );
//                });
//            });
//
//        });
//
//        $( document ).on('click', '#add-menu-btn', function(){
//            var $this = $(this);
//            $this.after( new CreateMenuForm().renderHtml() );
//        });
//
//        $('#edit-myprofile-btn').on('click', function(){
//            $personalDataContainer.slideDown();
//            $menusContainer.slideUp();
//        });

        //$( document ).on('click', '#create-menu-btn', function(){


       // });

    });
</script>

                <div class="container-fluid" id="content-container">
                    <div class="row-fluid">
                        @sidemenu.sidemenu()
                        <div class="span12">
                            <div class="container-fluid" id="personalInfoContainer">
                                <div class="span4">
                                    <div class="artista-img" id="profileImageContainer">
                                        <img id="pImage" src=""/>
                                    </div>
                                </div>
                                <div class="span8">
                                    <div id="profilePersonalInfo">
                                        <div><h2 class="h"> Elhassan Rais</h2></div>
                                        <div><h4 class="h"> Professional Acrobat</h4></div>
                                        <div><h5 class="h"> Berkeley, CA</h5></div>
                                        <div><p><strong> Profession:</strong> Human pyramids, Moroccan Tumbling, Chinese pole and Hnd
                                            balancing </p></div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <hr class="stepsHr">





<div class="row-fluid" id="menus" style="width: 600px; margin: auto">
    <h1>My Menus</h1>
    <div id="add-menu-btn" class="btn btn-important "> Add a Menu</div>
</div>




</body>
</html>