@(message: String, userType: UserType)
@headerOut()

<script type="text/javascript">
    // set default userTypes on selection html element
    $( document).ready( function(){


        $("#registration-form").append( new SignUpOrganizationForm().renderHtml())

        //$("#registration-form").append( new SignUpOrganizationForm( name, email, orgCategories ).renderHtml());


        // Signup Submit

        $( "#registration-form" ).on( "click", "#uploadProfileImage", function() {
            var $inputs = $("input");
            if ( checkRequiredInputs( $inputs ) == 1){
               // alert("submit the form");
                $("#registration-form" ).submit();
            }
            else {
               // alert(" fill the required fields " );
            }
        });


        $( "#registration-form" ).on( "keyup", "input", function() {
            $( this ).next().html("");
        });

        function checkRequiredInputs( $inputs ){
            var status = 1;
            $.each( $inputs, function( i, item ){


                if ( item.type != "submit" ){
                    var $item = $( item );
                   // alert("$item.name: " + $item.name);
                    var required = $item.attr("data-req");
                    var itemName = $item.attr("name");
                    var value = $item.val();
                   // alert( itemName );
                    if( required == 1 && value.length <= 0 ){
                        $item.next().html("This is a required field");
                        status = 0;
                    }
                    if ( itemName == "email" && value.length > 0){
                         if (!validateEmail( value )){
                            // alert(" check email ");
                             status = 0;
                             $item.next().html("This is not a valid email format.").fadeIn();
                         }
                    }
                }
            })
            return status;
        }

    });


</script>

<body>
 <!--   id="stepsPage" -->
<div class="container signUpPage" id="content-container">
    <div class="row-fluid">

        <div>
            <div id="stepsContentContainer">
                <p class="red"> @message </p>
                <h4> Account Info</h4>
                <div>
                    <form id="registration-form" action="completeRegistration" method="post" enctype="multipart/form-data">
                       <div class="frow">
                            <div class="flabel " style="display: none;"> Who are you?</div>
                            <select class="finputText signup-select" name="userType" id="user-types-select">
                                <option value="@userType.getName" data-ref="@userType.getReference"> @userType.getLabel</option>

                            </select>
                        </div>



                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

</body>
</html>