<!DOCTYPE html>
<head>
 <title> Makla -  </title>
 <meta name="viewport" content="user-scalable=no, initial-scale = 1.0,maximum-scale = 0.8,width=device-width" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/stylesheets/style.css">

    <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js">  </script>-->
    <script type="text/javascript" src="/javascripts/jquery-1.9.0.min.js">  </script>
    <script type="text/javascript" src="/utils/api.js"></script>
    <script type="text/javascript" src="/utils/utils.js"></script>
    <script type="text/javascript" src="/javascripts/domObjects.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.masonry.js"></script>
    <script type="text/javascript" src="/javascripts/ie.js"></script>
    <script type="text/javascript">
        $( document).ready( function(){
            slideDownMainContent();
        });
    </script>

</head>
<body>
<div id="header-top-bar" class="top">
    <h2> <a href="/"> <span class="logo"></span>Makla</a></h2>
<a href="/login">
    <p class="btn" id="signInBtn"> Sign in </p>
</a>
<a href="/register">
    <p class="btn" id="header-sign-up"> Sign up </p>
</a>
    </div>


