<!DOCTYPE html>
<head>
 <title> Makla -  </title>
 <meta name="viewport" content="user-scalable=no, initial-scale = 1.0,maximum-scale = 0.8,width=device-width" />
<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
<link rel="stylesheet" href="/stylesheets/style.css">

    <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js">  </script>-->
    <script type="text/javascript" src="/javascripts/jquery-1.9.0.min.js">  </script>
    <script type="text/javascript" src="/utils/api.js"></script>
    <script type="text/javascript" src="/utils/utils.js"></script>
    <script type="text/javascript" src="/javascripts/domObjects.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.masonry.js"></script>
    <script type="text/javascript" src="/javascripts/ie.js"></script>
    <script type="text/javascript">
        $( document).ready( function(){
            slideDownMainContent();
        });
    </script>

</head>
<body>
<div id="header-top-bar" class="top">
    <div class="inner-header">
        <h2>
            <a href="/">
                <img width="50px" src=@routes.Assets.at("images/icons/logo-medium.png").absoluteURL()>
                <span id="logo-text">Discovery Delivery</span>
            </a>
        </h2>
        <span style="display: inline-block;margin-left: 100px; width: 50px;"><img src="/images/spk.png"></span>
        <span style="display: inline-block;margin-left: 30px; width: 36px;"><img src="/images/lm.png"></span>
        <a href="/login">
            <p class="btn" id="signInBtn"> Sign in </p>
        </a>
       <!-- <a href="/register">
            <p class="btn" id="header-sign-up"> Sign up </p>
        </a> -->
    </div>



</div>
