@(organizations: List[SystemUser])

@if(session.get("sessionUser")) {
@headerIn()
} else {
@headerOut()
}

<script type="text/javascript">
    $( document).ready( function(){

        //$('#tool-bar').html("<h1>Test</h1>");
        var $container = $('#orgs-container');
        var $loading = $('#loading');
        var feedPageWidth = $container.width();
        var documentWidth = $( document).width();
        $container.hide();
        $container.imagesLoaded( function() {
            $loading.hide();
            console.log("----> " + $loading);
            $container.show().masonry();
        });

        //$('.feed-item').css( 'width', 400 + "px");


    });


</script>

<div class="container-fluid" id="content-container">

    <div id="loading"><img src="/images/loader.gif" alt=""></div>
    <div id="orgs-container" class="">
        @for( org <- organizations ) {
       <a class='span4 feed-item' href="/@org.getUserType().getLabel()/@org.getReference()/menus">
       <div class="fc"><div class="padding5px"><div class="row-fluid"><h2 class="sub-title h1"> @org.getFullName</h2></div>
       <div class="row-fluid"> <div class="span12"><img style="width: 100%" src="@org.getProfileImageUrl()"></div></div></div>
      <!-- <div class="fc-fotter padding5px"> Footer</div>
       <div class="fc-comments padding5px"> Comments</div>  -->
       </div></a>
        }
    </div>
</div>





</body>
</html>