
<!DOCTYPE HTML>
<html>
<head>
  <title></title>
</head>
<body>
<h5> Upload profile Image</h5>

<div class="row-fluid">
    <div>
        <form action="completeRegistration" method="post" enctype="multipart/form-data">
            <div class="frow" >
                <input class="finputText" type="file" name="profileImage" id="profileImage">
            </div>
            <div class="frow" >
                <input class="btn" type="submit" value="Upload" id="uploadProfileImage">
            </div>
        </form>
    </div>
</div>

</body>
</html>